<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serverSection" type="FileSpaceMonitor.Tools.Configuration.ServerSection, FileSpaceMonitor"/>
  </configSections>
  <appSettings>
    <add key="ApplicationName" value="FileSpaceMonitor"/>
    <add key="LogFileExtension" value=".log"/>
    <add key="MaxLogSize" value="25000"/>
    <add key="NotifyCsv" value="brianc,brianc"/>
    <add key="SlackUrl" value="https://hooks.slack.com/services/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 "/>
    <add key="SlackChannel" value="monitor-test"/>      
  </appSettings>
  <serverSection>
    <!-- To monitor an additional server, just add to the collection below.
         Notification Methods :
              none        = turns off warning notifications
              msg         = uses the "msg" command for asychronous messages
              messagebox  = message box (WARNING: debug only, will not work as a background process!)
              email       = emails the DistributionList
              slack       = posts to Slack channel (defined in appSettings)
    -->
    <servers>      
      <add name="BCross's Personal Computer" path="\\P50-102747\c$" threshold="50" notificationMethod="slack" />      
    </servers>
  </serverSection>
</configuration>
